{% extends "main/base.html" %}
{% load static %}

{% block title %} MCAET | UG {% endblock title %} 

{% block content %}

<h1>Our Post Graduate Courses</h1>
<section class="vh-100 flex-grow p-3 mb-5"  >
    <div class="mask d-flex align-items  gradient-custom-3">
      <div class="container h-100" id="_contain">
        <div class="row d-flex justify-content-lg-between align-items h-100">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          
              
                   
                       
        </div>
      </div>
    </div>
  </section>


{% endblock content %}