{% extends "main/base.html" %}
{% load static %}

{% block title %}  MCAET | PG  {% endblock title %} 

{% block content %}

<section class="vh-100 flex-grow p-3 mb-5"  >
    <div class="mask d-flex align-items  gradient-custom-3">
      <div class="container h-100" id="_contain">
        <div class="row d-flex justify-content-lg-between align-items h-100">
          <h2 class="text-uppercase text-center mb-5 _heading" style="color:#4169E1">Our UnderGraduate Courses</h2>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'main/img/cse.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="{% static 'main/img/me.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="{% static 'main/img/ag.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          
              
                   
                       
        </div>
      </div>
    </div>
  </section>



{% endblock content %}